<ul class="spell">
  
  {{ $url := .Get "url" }}
  {{ $requiredColour := .Get "colour" }}
  {{ $requiredType := .Get "type" }}
    {{ $colour := index (getJSON $url) $requiredColour }}
      {{ $type := index $colour $requiredType }}
      {{ $sortedType := sort $type}}
      {{ range $level, $spells := $sortedType }}
      {{ printf "## %s Level Spells"  (string $level) | humanize | markdownify}} 
      {{ range ( sort $spells "name") }}
      {{ $spell := . }}
      <table>
        <thead>
          <tr>
            <th colspan="6">{{ $spell.name }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td >Level</td>
            <td >{{ $spell.level | humanize }}</td>
            <td >Colour</td>
            <td >{{ $spell.colour | humanize }}</td>
            <td >Duration</td>
            <td >{{ $spell.duration }}</td>
          </tr>
          <tr>
            <td >Verbal</td>
            <td  colspan="5">{{ $spell.verbal }}</td>
          </tr>
          <tr>
            <td >Description</td>
            <td  colspan="5">{{ $spell.description }}</td>
          </tr>
          {{ if $spell.note }}
          <tr>
            <td>Note</td>
            <td colspan="5">{{ $spell.note }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
      {{ end }}
      {{ end }}
</ul>